.big-block {
  position: absolute;
  width: 100px;
  height: 100px;
  transition: 0.3s;
}

.wrapper {
  cursor: url("../images/space-station.png");
  overflow: hidden;
  min-width: 100%;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Futura New";
  color: white;
  background: linear-gradient(145deg, rgb(34, 34, 34) 0%, rgb(46, 34, 41) 35%, rgb(251, 29, 169) 100%);
}

.circle {
  position: absolute;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 2px solid #ccc;
  pointer-events: none;
}